In [2]:
import requests
import json
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import os

In [115]:
url = "https://api.binance.com/api/v3/klines"
symbol = "ETHUSDT"
interval ="1h"

startTime= str(int(dt.datetime(2021,11,14).timestamp()*1000))
endTime= str(int(dt.datetime(2021,11,15).timestamp()*1000))
limit ="1000"

req_p = {"symbol" : symbol , "interval": interval , 'startTime':startTime , 'endTime':endTime , 'limit':limit}

response = pd.DataFrame(json.loads(requests.get(url , params = req_p).text))
response=response.iloc[:,0:6]
response.columns=['Datetime' , 'Open' , 'High' , 'Low' , 'Close' , 'Volume' ]
response ['Datetime'] = [dt.datetime.fromtimestamp(x/1000) for x in response['Datetime']]
response.set_index(['Datetime'])

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-11-14 00:30:00,4660.78000000,4661.84000000,4642.00000000,4656.98000000,4573.99200000
2021-11-14 01:30:00,4656.98000000,4660.83000000,4636.37000000,4639.63000000,6325.63950000
2021-11-14 02:30:00,4639.62000000,4664.23000000,4632.79000000,4644.28000000,6464.76080000
2021-11-14 03:30:00,4644.27000000,4696.05000000,4636.83000000,4675.47000000,13798.05530000
2021-11-14 04:30:00,4675.47000000,4682.60000000,4650.00000000,4661.41000000,7442.80860000
2021-11-14 05:30:00,4661.41000000,4667.81000000,4633.56000000,4635.65000000,6752.01640000
2021-11-14 06:30:00,4635.64000000,4648.01000000,4621.81000000,4628.63000000,7271.00190000
2021-11-14 07:30:00,4628.63000000,4648.47000000,4625.31000000,4633.40000000,4688.02070000
2021-11-14 08:30:00,4633.43000000,4647.13000000,4622.78000000,4642.11000000,6300.24570000
2021-11-14 09:30:00,4642.12000000,4656.30000000,4633.00000000,4638.71000000,8106.72000000
2021-11-14 10:30:00,4638.71000000,4641.00000000,4593.84000000,4598.40000000,14867.39340000
2021-11-14 11:30:00,4598.77000000,4608.56000000,4571.65000000,4584.09000000,13294.50470000
2021-11-14 12:30:00,4584.10000000,4605.25000000,4567.02000000,4590.48000000,9156.76520000
2021-11-14 13:30:00,4590.47000000,4615.74000000,4584.63000000,4606.10000000,7648.79680000
2021-11-14 14:30:00,4606.11000000,4614.00000000,4594.47000000,4612.45000000,4913.57250000
2021-11-14 15:30:00,4612.44000000,4634.64000000,4591.41000000,4619.28000000,7682.40840000
2021-11-14 16:30:00,4619.28000000,4628.07000000,4611.75000000,4612.37000000,6293.41240000
2021-11-14 17:30:00,4612.41000000,4612.42000000,4580.02000000,4593.63000000,10535.85840000
2021-11-14 18:30:00,4593.63000000,4594.86000000,4574.97000000,4583.91000000,7169.71910000
2021-11-14 19:30:00,4583.91000000,4590.11000000,4525.98000000,4537.24000000,34094.18700000
2021-11-14 20:30:00,4537.25000000,4563.14000000,4514.12000000,4556.61000000,14628.39570000
2021-11-14 21:30:00,4556.81000000,4571.19000000,4527.89000000,4548.38000000,9363.21120000
2021-11-14 22:30:00,4548.38000000,4548.54000000,4518.48000000,4545.01000000,9271.71330000
2021-11-14 23:30:00,4545.00000000,4560.81000000,4533.72000000,4552.76000000,5928.66940000

0    2021-11-14 00:30:00
1    2021-11-14 01:30:00
2    2021-11-14 02:30:00
3    2021-11-14 03:30:00
4    2021-11-14 04:30:00
5    2021-11-14 05:30:00
6    2021-11-14 06:30:00
7    2021-11-14 07:30:00
8    2021-11-14 08:30:00
9    2021-11-14 09:30:00
10   2021-11-14 10:30:00
11   2021-11-14 11:30:00
12   2021-11-14 12:30:00
13   2021-11-14 13:30:00
14   2021-11-14 14:30:00
15   2021-11-14 15:30:00
16   2021-11-14 16:30:00
17   2021-11-14 17:30:00
18   2021-11-14 18:30:00
19   2021-11-14 19:30:00
20   2021-11-14 20:30:00
21   2021-11-14 21:30:00
22   2021-11-14 22:30:00
23   2021-11-14 23:30:00
Name: Datetime, dtype: datetime64[ns]

In [111]:
                       #------------------------ function ------------------------#
def get_binance_datas (symbol, interval , startTime , endTime):
    ''' symbol="ETHUSDT or BTCUSDT , ..." , interval="1h,4h,8h,12h,1d", times = dt.datetime(2020,1,1) '''
    
    url = "https://api.binance.com/api/v3/klines"
    startTime= str(int(startTime.timestamp()*1000))
    endTime= str(int(endTime.timestamp()*1000))
    limit ="1000"
    req_p = {"symbol" : symbol , "interval": interval , 'startTime':startTime , 'endTime':endTime , 'limit':limit}
    response = pd.DataFrame(json.loads(requests.get(url , params = req_p).text))
    if len(response.index)==0 :
        return None
    response=response.iloc[:,0:6]
    response.columns=['Datetime' , 'Open' , 'High' , 'Low' , 'Close' , 'Volume' ]
    response['Datetime'] = [dt.datetime.fromtimestamp(x/1000) for x in response['Datetime']]
    response.set_index(['Datetime'] , inplace=True)
    return response

In [35]:
get_binance_datas('ETHUSDT' , '1h' , dt.datetime (2021,11,14) , dt.datetime(2021,11,15))

(                              Open           High            Low  \
 2021-11-14 00:30:00  4660.78000000  4661.84000000  4642.00000000
 2021-11-14 01:30:00  4656.98000000  4660.83000000  4636.37000000
 2021-11-14 02:30:00  4639.62000000  4664.23000000  4632.79000000
 2021-11-14 03:30:00  4644.27000000  4696.05000000  4636.83000000
 2021-11-14 04:30:00  4675.47000000  4682.60000000  4650.00000000
 2021-11-14 05:30:00  4661.41000000  4667.81000000  4633.56000000
 2021-11-14 06:30:00  4635.64000000  4648.01000000  4621.81000000
 2021-11-14 07:30:00  4628.63000000  4648.47000000  4625.31000000
 2021-11-14 08:30:00  4633.43000000  4647.13000000  4622.78000000
 2021-11-14 09:30:00  4642.12000000  4656.30000000  4633.00000000
 2021-11-14 10:30:00  4638.71000000  4641.00000000  4593.84000000
 2021-11-14 11:30:00  4598.77000000  4608.56000000  4571.65000000
 2021-11-14 12:30:00  4584.10000000  4605.25000000  4567.02000000
 2021-11-14 13:30:00  4590.47000000  4615.74000000  4584.63000000
 2021-11-14 14:30:00  4606.11000000  4614.00000000  4594.47000000
 2021-11-14 15:30:00  4612.44000000  4634.64000000  4591.41000000
 2021-11-14 16:30:00  4619.28000000  4628.07000000  4611.75000000
 2021-11-14 17:30:00  4612.41000000  4612.42000000  4580.02000000
 2021-11-14 18:30:00  4593.63000000  4594.86000000  4574.97000000
 2021-11-14 19:30:00  4583.91000000  4590.11000000  4525.98000000
 2021-11-14 20:30:00  4537.25000000  4563.14000000  4514.12000000
 2021-11-14 21:30:00  4556.81000000  4571.19000000  4527.89000000
 2021-11-14 22:30:00  4548.38000000  4548.54000000  4518.48000000
 2021-11-14 23:30:00  4545.00000000  4560.81000000  4533.72000000

                              Close          Volume
 2021-11-14 00:30:00  4656.98000000   4573.99200000
 2021-11-14 01:30:00  4639.63000000   6325.63950000
 2021-11-14 02:30:00  4644.28000000   6464.76080000
 2021-11-14 03:30:00  4675.47000000  13798.05530000
 2021-11-14 04:30:00  4661.41000000   7442.80860000
 2021-11-14 05:30:00  4635.65000000   6752.01640000
 2021-11-14 06:30:00  4628.63000000   7271.00190000
 2021-11-14 07:30:00  4633.40000000   4688.02070000
 2021-11-14 08:30:00  4642.11000000   6300.24570000
 2021-11-14 09:30:00  4638.71000000   8106.72000000
 2021-11-14 10:30:00  4598.40000000  14867.39340000
 2021-11-14 11:30:00  4584.09000000  13294.50470000
 2021-11-14 12:30:00  4590.48000000   9156.76520000
 2021-11-14 13:30:00  4606.10000000   7648.79680000
 2021-11-14 14:30:00  4612.45000000   4913.57250000
 2021-11-14 15:30:00  4619.28000000   7682.40840000
 2021-11-14 16:30:00  4612.37000000   6293.41240000
 2021-11-14 17:30:00  4593.63000000  10535.85840000
 2021-11-14 18:30:00  4583.91000000   7169.71910000
 2021-11-14 19:30:00  4537.24000000  34094.18700000
 2021-11-14 20:30:00  4556.61000000  14628.39570000
 2021-11-14 21:30:00  4548.38000000   9363.21120000
 2021-11-14 22:30:00  4545.01000000   9271.71330000
 2021-11-14 23:30:00  4552.76000000   5928.66940000  ,
 'ETHUSDT',
 '1h')

In [112]:

months = [dt.datetime(2021,i,1) for i in range(1,11)]
#months.append(dt.datetime(2021,1,1))
Symbol = 'BTCUSDT'
TimeFrame = '4h' #1m , 3m , 5m , 15m , 30m, 1h, 2h, 4h, 6h, 8h, 12h , 1d, 3d, 1w , 1M

datalist = [get_binance_datas (Symbol , TimeFrame , months[i] , months[i+1]-dt.timedelta(0,1)) for i in range(0,len(months)-1)]
df = pd.concat(datalist)

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-01-01 03:30:00,28923.63000000,29470.00000000,28690.17000000,29278.40000000,11560.45655300
2021-01-01 07:30:00,29278.41000000,29395.00000000,28806.54000000,29092.83000000,7308.91027400
2021-01-01 11:30:00,29092.84000000,29402.57000000,28872.24000000,29313.49000000,8283.70531900
2021-01-01 15:30:00,29313.49000000,29600.00000000,29030.14000000,29188.67000000,11794.94951500
2021-01-01 19:30:00,29188.67000000,29360.00000000,28624.57000000,29029.04000000,9850.96534500
...,...,...,...,...,...
2021-09-30 07:30:00,43591.24000000,43830.00000000,43217.16000000,43286.88000000,5896.65545000
2021-09-30 11:30:00,43286.88000000,43446.77000000,42697.01000000,43072.29000000,7385.82971000
2021-09-30 15:30:00,43072.29000000,43777.00000000,42850.00000000,43149.02000000,9589.71375000
2021-09-30 19:30:00,43149.02000000,44141.37000000,42819.86000000,43532.31000000,8533.13649000
2021-09-30 23:30:00,43532.32000000,43915.89000000,43100.00000000,43824.10000000,4275.06590000

In [95]:
A=dt.datetime.today()
Name = Symbol + " " + TimeFrame + " " + str(A.year) + str(A.month) + str(A.day)

In [96]:
path=os.path.abspath(os.getcwd()) 

df.to_csv( Name + ".csv")